body {
    background-color: #F5EBDC;
}

.logo {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 97px 0 40px 0;
}

.logo h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 50px;
}

.logo h1 span {
    font-weight: 800;
    color: #D42401;
}

.principal, .subprincipal {
    display: flex;
    align-items: start;
    justify-content: center;
    column-gap: 38px;
}

.container1, .container2, .container3 {
    width: 300px;
    box-shadow: none;
    -webkit-box-shadow: 0 0 4px #ACA6A6;
    border-radius: 12px 12px 0 0;
   
}

.imagem {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 12px 12px 0 0;
    padding: 25px 33px 18px 52px;
}

.inf {
    display: flex;
    justify-content: space-around;
    background: #FED8B5;
    height: 92px;
}

.legenda h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #D42401;
    padding-top: 26px;
}

.legenda p {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #502314;

}

.legenda h2, p {
    margin: 0;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #502314;
    margin-top: 26px;
}

b {
    font-size: 39px;
    color: #D42401;
    font-weight: 800;
}

span {
    color: #D42401;
}

.subprincipal {
    margin: 38px;
}

.inf_dif {
    background: #FE9738;
    height: 88px;
}

.img_dif {
    border: 3px solid #FE9738;
}


.codigo_prom {
    display: flex;
    justify-content: center;

}

.caixa_branca {
    background: #FFFFFF;
    width: 976px;
    height: 251px;
    border-radius: 12px;
    box-shadow: none;
    -webkit-box-shadow: 0 0 4px #ACA6A6;
}

.caixa_branca p {
    text-align: center;
    margin-top: 37px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #502314;
}

.caixa_cod {
    display: flex;
    margin: 30px 326px;
    box-shadow: none;
    -webkit-box-shadow: 0 0 4px #ACA6A6;
    border-radius: 0 12px 12px 0;
}



.caixa_pequena {
    width: 97.2px;
    height: 90px;
    background: #FED8B5;
    display: inline-block;
    border-right: 2px dashed #FE9738;
}

.caixa_maior {
    width: 226.8px;
    height: 90px;
    background: #F5EBDC;
    display: inline-block;
    border-radius: 0 12px 12px 0;
    
}

.caixa_maior h3 {
    text-align: center;
    margin: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #502314;
}

.rodape {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;

}

.texto1 {
    color: #502314;
    font-weight: 800;
}

.texto2 {
    color: #FE9738;
    font-weight: 600;
}

.texto2 b {
    font-size: 20px;
}


